body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: white;
}

header,
footer {
  background-color: #1f2937;
}

.top-section,
.info,
.quote-cont,
.footer {
  padding: 10px;
}

.top-section {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

ul {
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  color: #e5e7ebbe;
  font-weight: 300;
  font-size: 14px;
  height: 50px;
}

.header-nav div {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  width: 65%;
  flex-wrap: wrap;
}

.info {
  color: black;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  color: #e5e7ebbe;
}

.nav li {
  list-style-type: none;
}

.info-top h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.info-top h1,
.info-top p,
.info-top button {
  margin: 0;
}

.info-top p {
  font-size: 18px;
  color: #e5e7ebbe;
  margin-bottom: 12px;
}

.info-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  padding: 100px 10px 50px 10px;
  width: 65%;
}

.top-left {
  width: 450px;
}

.top-left button {
  background-color: #3882f6;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  border-color: #3882f6;
  padding: 8px 28px;
}

.top-right img {
    width: 450px;
  margin-bottom: 30px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.box {
  height: 200px;
  width: 200px;
  border: solid #3882f6 4px;
  margin-bottom: 12px;
  border-radius: 18px;
}

.info-title {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: auto;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 75px;
  flex-wrap: wrap;
}

.box-section {
  width: 200px;
  text-align: center;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.575);
}

.quote-cont {
  background-color: #e5e7eb;
  padding: 100px 10px;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin: auto;
}

.quote span {
  padding: 0;
  margin: 0;
  color: black;
  font-weight: 700;
}

.quote > div {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.quote {
  margin: auto;
}

.quote p {
  color: #1f2937;
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  padding: 0;
  margin: 0;
}

.call-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.callbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  border-radius: 10px;
  padding: 30px 20px;
  margin: 0;
  width: 50%;
  flex-wrap: wrap;
}

.calltext {
  margin: 8px;
}

.callbutton {
  color: white;
  background-color: #3882f6;
  padding: 8px 32px;
  font-weight: 700;
  border: solid white 1px;
  border-radius: 6px;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  img {
    max-width: 100%;
  }
}
